
/* ========== Navbar Responsive Start ========== */
@media (max-width:1199px){
    nav .navbar-nav {
        gap: 5px;
    }

    img.cart{
        margin-top: 5px;
    }
    
    #navbarSupportedContent {
        border-radius: 5px;
        background: seashell;
        padding: 15px;
    }
}

/* ========== Navbbar Responsive End ========== */
/* ========== Banner Section Responsive start ========== */
@media (max-width: 575px){
    #banner{
        margin-top: 55px;
    }
    #banner h1{
        font-size: 40px;
        width: 348.21px;
    }
    
    #banner p{
        margin-top: 15px;
        margin-bottom: 25px;
        width: 310px;
    }

    #banner a{
        font-size: 20px;
        padding: 10px 30px;
    }

    #banner img{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    #banner{
        margin-top: 55px;
        text-align: center;
    }
    #banner h1{
        font-size: 40px;
        width: 385.21px;
        margin: 0 auto; 
    }
    
    #banner p{
        width: 438px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    #banner a{
        font-size: 20px;
        padding: 10px 30px;
        
    }

    #banner img{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #banner{
        margin-top: 55px;
    }
    #banner h1{
        font-size: 40px;
        width: 348.21px;
    }
    
    #banner p{
        margin-top: 15px;
        margin-bottom: 25px;
        width: 310px;
    }

    #banner a{
        font-size: 20px;
        padding: 10px 30px;
    }
}
/* ========== Banner Section Responsive End ========== */

/* ========== About Responsive Start ========== */

@media (min-width: 375px) and (max-width: 767px){
    #about {
        margin-top: 50px;
        text-align: center;
    }
    #about .one{
    display: none;
   }
   #about .two{
    display: none;
   }
   #about .three{
    display: none;
   }
   #about h1{
    font-size: 34px;
   }

  


}

@media (min-width:768px) and (max-width: 991px){
    #about {
        margin-top: -70px;
    }

    #about .one .three{
        width: 50%;
    }

    #about .two{
        width: 170%;
    }

    #about h1{
        font-size: 40px;
        line-height: 47px;

    }

    #about .about-us{
        font-size: 24px;
    }

    #about p{
        font-size: 20px;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.333333%;
        padding-left: 92px;
    }

    #about a{
        font-size: 20px;
        padding: 10px 30px;
        margin-top: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
        padding-left: 54px;
    }
}
/* ========== About Responsive End ========== */

/* ========== Card Responsive Srtat ========== */
@media (min-width: 375px) and (max-width: 767px){
    #dishes {
        margin-top: 30px;
        text-align: center;
        padding-top: 30px;
    }

    #dishes h2{
        margin-top: 30px;
        font-size: 44px;
        margin-bottom: 25px;
    }
   
}

@media (min-width:768px) and (max-width: 991px){
   #dishes{
    margin-top: 30px;
   }
}


@media (min-width: 992px) and (max-width: 1199px){
    #dishes {
        margin-top: 30px;
    }
}

/* ========== Card Responsive End ========== */
/* ========== Services Responsive Start ========== */
@media (min-width: 375px) and (max-width: 575px){
    #services .service-top {
        margin-top: 94px;
        color: #FF724C;
        text-align: center;
        font-size: 30px;
    }

    #services h2 {
        width: 382px;
        font-size: 33px; 
        margin-bottom: 40px;    
    }

    #services .row{
        grid-template-columns: auto ;
    }
}

@media (min-width: 576px) and (max-width: 991px){
    #services .row{
        grid-template-columns: auto auto ;
    }

    #services h2 {
        width: 592px;
    }
}
/* ========== Services Responsive End ========== */
/* ========== Teams Responsive Start ========== */
@media (min-width: 375px) and (max-width:  767px){
    #teams span{
        display: none;
    }

    #teams p{
        font-size: 24px;
    }

    @media (min-width: 768px) and (max-width:  991px){
        #teams span{
            display: none;
        }
}
}
/* ========== Teams Responsive End ========== */



/* ========== Navbbar Responsive End ========== */
/* ========== Navbbar Responsive End ========== */
/* ========== Navbbar Responsive End ========== */
/* ========== Navbbar Responsive End ========== */

/* ========== Common CSS Start ========== */
/* ========== Common CSS Start ========== */




