/* ========== Common CSS Start ========== */
a{ text-decoration: none;}

body{
    overflow-x: hidden;
    font-family: "Josefin Sans", serif;
}
/* ========== Common CSS Start ========== */

/* ========== nav section start ========== */

nav .navbar-nav{
    gap: 58px;
}

nav li.nav-item{
    margin-top: 5px;
}

/* ========== banner section start ========== */
#banner{
    margin-top: 85px;
}
#banner img{
    width: 139%;
    position: relative;
    top: -124px;
    left: -70px;
    z-index: -1;
}

#banner h1{
    font-family: "Josefin Sans", serif;
    font-size: 64px;
    font-weight: 600;
    width: 575.21px;
}

#banner p{
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-weight: 600;
    max-width: 467px;
    margin-top: 30px;
    margin-bottom: 45px;
}

#banner a{
    display: inline-block;
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-weight: 400;
    padding: 16px 47px;
    background: #FF5A2F;
    color: #FFFFFF;
    border-radius: 15px;   
}
/* ========== banner section end ========== */

/* ========== about section start ========== */



#about{
    margin-top: -200px;
}

#about img{
    width: 100%;
}

#about .one{
    margin-top: 25px;
}

#about .three{
    width: 160px;
    margin-top: 20px;
}


element {
	padding-left: 75px;
}

#about .about-us{
    color: #FF5A2F;
    font-size: 37px;
    font-family: "Josefin Sans", serif;
    margin-bottom: 15px;
}

#about h1{
    font-family: "Josefin Sans", serif;
    font-size: 50px;
    font-weight: 400;
    max-width: 516px;
}

#about p{
    font-family: "Josefin Sans", serif;
    font-size: 22px;
    font-weight: 400;
    max-width: 467px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#about a{
    display: inline-block;
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-weight: 400;
    padding: 16px 47px;
    background: #FF5A2F;
    color: #FFFFFF;
    border-radius: 15px;   
}
/* ========== about section start ========== */
/* ========== dishes section start ========== */
#dishes{
    margin-top: 150px;
    padding-top: 40px;
}

#dishes .top-title{
    color: #FF724C;
    font-family: "Josefin Sans";
    font-size: 37px;
}

#dishes h2{
    margin-top: 25px;
    color: #1E1E1E;
    font-size: 54px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.62px;
    margin-bottom: 60px;
}
#dishes .item{
    text-align: center;
    padding: 53px 33px 33px 33px;
    margin-top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 30px 80px 0px rgba(107, 107, 107, 0.25);
    border-radius: 25px;
}

#dishes .item img{
    width: 100%;
    /* border-radius: 50%; */
}

#dishes .item h3{
    color: #2A2C41;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin-top: 27px;
}

#dishes .item p{
    color: #2A2C41;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

#dishes .item .price{
    color: #FF6840;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

/* ========== dishes section end ========== */



/* ========== services section start ========== */
/* #services{
    margin-left: 200px;
    margin-right: 100px;
} */
#services .row{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#services .service-top{
    margin-top: 150px;
    color: #FF724C;
    text-align: center;
    font-size: 37px;
}

#services h2{
    width: 602px;
    color: #1E1E1E;
    text-align: center;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 2.7px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 60px;
}

#services .item{
    text-align: center;
    margin-top: 24px;
    border: 1px solid #FF5A2F;
    padding: 25px 45px 15px 45px;
}

#services .item:hover{
    background: rgba(248, 78, 26, 0.5);
    color: #FFFFFF;
    transition: ease-in-out;
    
}

#services svg{
    width: 74px;
    height: 81px;
}


#services .row p{
    color: #2A2C41;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    
}
/* ========== services section end ========== */
/* ========== teams section start ========== */

#teams{
    margin-top: 150px;
}

#teams .row{
    margin-top: 25px;
    margin-bottom: 60px;
}

#teams p{
    color: #FF724C;
    font-size: 37px;
    font-weight: 400;
}

#teams h2{
    color: #1E1E1E;
    text-align: left;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 2.7px;
}

#teams .row .angle-left{
    margin-right: 50px;
}

#teams .shef-card{
    display: grid;
    grid-template-columns: auto auto auto;

}

#teams img{
    z-index: 9990;
    position: relative;
}

#teams .shef-card p{
    text-align: center;
    padding: 26px 76px;
    background: #FFFFFF;
    margin-top: -100px;
    z-index: 9991;
    position: absolute;
    color: #2A2C41;
    font-size: 32px;

}

/* ========== teams section end ========== */



/* ========== dishes section end ========== */
/* ========== dishes section end ========== */
